.footer__container {
  font-size: 24px;
  text-align: center;
  height: 80px;
  background-color: #1a1a1d;
  color: #e1e1e1;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: .1px;
}

@media only screen and (max-width: 768px) {
  .footer__container {
    font-size: 16px;
    padding-top: 13px;
  }
}